html {
  height: 100%;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  background: rgb(38,0,53);
  background: linear-gradient(180deg, rgba(38,0,53,1) 0%, rgba(57,0,72,1) 35%, rgba(108,54,119,1) 100%);
}

img {
  display: block;
  margin: 0 auto;
}

.column {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
